<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1033</integer>
    <key>capHeight</key>
    <real>736.7627532128251</real>
    <key>copyright</key>
    <string>Copyright 2026 The Geomini Project Authors (https://github.com/fontbob/geomini)</string>
    <key>descender</key>
    <integer>-167</integer>
    <key>familyName</key>
    <string>Geomini</string>
    <key>openTypeHheaAscender</key>
    <integer>1033</integer>
    <key>openTypeHheaDescender</key>
    <integer>-167</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>FontBob</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1033</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-167</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1033</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>199</integer>
    <key>postscriptFontName</key>
    <string>Geomini-ExtraBold</string>
    <key>styleName</key>
    <string>ExtraBold</string>
    <key>trademark</key>
    <string></string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>589.4102025702601</real>
    <key>year</key>
    <integer>2026</integer>
  </dict>
</plist>
